[Unit]
Description=golang blogserver

[Service]
User=go-blog
Group=go-blog
WorkingDirectory=/opt/go-blog
ExecStart=/bin/bash -c '/opt/go-blog/go-blog'

[Install]
WantedBy=multi-user.target
