{{define "admin/action"}}
{{template "admin/header" .}}
{{template "admin/navigation" .}}

<main>
	<h2>{{.action.Title}}</h2>

	{{template "skel/flash" .}}

	{{with .action}}
		<form action="{{.ActionURL}}" method="post">

			{{if .WarnMsg}}
				<div class="alert alert-warning" role="alert"><p>{{.WarnMsg}}</p></div>
			{{end}}

			<div class="alert alert-info" role="alert"><p>{{.Description}}</p></div>

			{{ $.csrfField }}
			
			<button type="submit" name="action" value="yes" class="button">Yes</button>
			<a href="{{.BackLinkURL}}" class="button" role="button" aria-disabled="true">No</a>
		</form>
	{{end}}
</main>

{{template "admin/footer"}}

{{end}}

