{{define "admin/article_add"}}

{{template "admin/head" .}}
{{template "admin/navigation" .}}

<main>
	{{template "skel/flash" .}}

    <h2>Write an article</h2>

    <form id="autosave-form" action="/admin/article/new" method="post">
		<label for="category">Category</label>
		<select name="categoryID">
			<option></option>
			{{range .categories}}
			<option value="{{.ID}}">{{.Name}}</option>
			{{end}}
		</select>

		<label for="headline">Headline</label>
		<input type="text" id="headline" name="headline" placeholder="Headline..." {{if .article.Headline}}value="{{.article.Headline}}"{{end}} required>

		<label for="teaser">Teaser</label>
		<textarea rows="5" id="teaser" name="teaser">{{.Teaser}}</textarea>

		<label for="content">Content</label>
		<textarea rows="25" id="content" name="content" placeholder="Content...">{{.article.Content}}</textarea>

		{{ .csrfField }}

		<div class="button-group">
			<button name="action" value="save">Save</button>
			<button name="action" formtarget="_blank" value="preview">Preview</button>
		</div>
	</form>

	<a href='javascript:void(0);' id="toggleContainer" onclick="toggleContainer();">Upload a file ⇊</a>
		
	<div id="hiddenContainer" style="display:none">
		<div id="upload-error" style="margin-top: 10px; display:none" class="alert alert-danger" role="status"></div>
	
		<form enctype="multipart/form-data" method="post" id="direct-upload">
			<label for="file">Upload file</label>
			<input type="file" id="file" name="file" placeholder="Choose a file" required>
	
			{{ .csrfField }}
	
			<div class="button-group">
				<button name="action" value="upload">Upload</button>
			</div>
		</form>
	
		<table id="uploaded-files" class="table" style="display:none">
			<thead>
				<tr>
					<th>Filename</th>
					<th>Link</th>
					<th>ContentType</th>
					<th>Size</th>
				</tr>
			</thead>
	
			<tbody>
	
			</tbody>
		</table>
	</div>
</main>

{{template "admin/footer" .}}
{{end}}
