{{define "admin/articles"}}
{{template "admin/header" .}}
{{template "admin/navigation" .}}
<main>
	{{template "skel/flash" .}}

	<h2>Article management</h1>
	<hr>

	<p>
		<a href="/admin/article/new" class="btn btn-default btn-md">
			<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add an article
		</a>
	</p>

	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>Published on</th>
				<th>Title</th>
				<th>User</th>
				<th>Last modified</th>
				<th>Actions</th>
			</tr>
		</thead>
	{{range .articles}}
		<tbody>
			<tr>
				<td>{{.Published | BoolToIcon}}</td>
				<td>{{.PublishedOn | FormatNilDate}}</td>
				<td>{{.Headline}}</td>
				<td>{{.Author.Username}}</td>
				<td>{{.LastModified | FormatDateTime}}</td>
				<td>
					{{if not .Published}}
						<a href="/admin/article/publish/{{.ID}}" title="Publish">
							<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
						</a>
					{{else}}
						<a href="/article/{{.Slug}}" target="_blank" title="Show">
							<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
						</a>

						<a href="/admin/article/publish/{{.ID}}" title="Depublish">
							<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
						</a>
					{{end}}

					<a href="/admin/article/edit/{{.ID}}" title="Edit">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					</a>

					<a href="/admin/article/delete/{{.ID}}" title="Remove">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</a>
				</td>
			</tr>
		</tbody>
	{{end}}
	</table>
	{{PaginationBar .pagination}}
</main>
{{template "front/footer"}}
{{end}}
