{{define "admin/article_edit"}}

{{template "admin/head" .}}
{{template "admin/navigation" .}}

<main>
	{{template "skel/flash" .}}

	<h2>Update article</h2>

	{{with .article}}
	<form id="autosave-form" action="/admin/article/edit/{{.ID}}" method="post">
		<label for="category">Category</label>
		<select id="category" name="categoryID">
			<option></option>
			{{range $.categories}}
			<option{{if $.article.CID.Valid}}{{if eq $.article.CID.Int64 .ID}} selected="selected"{{end}}{{end}} value="{{.ID}}">{{.Name}}</option>
			{{end}}
		</select>

		<label for="headline">Headline</label>
		<input type="text" value="{{.Headline}}" id="headline" name="headline" placeholder="Headline..." required>
		
		<div class="checkbox" style="margin-bottom: 1em; text-align:right">
			<label><input type="checkbox" id="updateSlug" name="updateSlug" value="on"{{if $.updateSlug}} checked{{end}}>Update URL when headline has changed?</label>
		</div>

		<label for="teaser">Teaser</label>
		<textarea rows="15" id="teaser" name="teaser">{{.Teaser}}</textarea>

		<label for="content">Content</label>
		<textarea rows="25" id="content" name="content">{{.Content}}</textarea>

		{{ $.csrfField }}

		<div class="button-group">
			<button name="action" value="save">Save</button>
			<button name="action" formtarget="_blank" value="preview">Preview</button>
		</div>
	</form>
	
	<a href='javascript:void(0);' id="toggleContainer" onclick="toggleContainer();">Upload a file ⇊</a>
	
	<div id="hiddenContainer" style="display:none">
		<div id="upload-error" style="margin-top: 10px; display:none" class="alert alert-danger" role="status"></div>
	
		<form enctype="multipart/form-data" method="post" id="direct-upload">
			<label for="file">Upload file</label>
			<input type="file" id="file" name="file" placeholder="Choose a file" required>
	
			{{ $.csrfField }}
	
			<div class="button-group">
				<button name="action" value="upload">Upload</button>
			</div>
		</form>
	
		<table id="uploaded-files" class="table" style="display:none">
			<thead>
				<tr>
					<th>Filename</th>
					<th>Link</th>
					<th>ContentType</th>
					<th>Size</th>
				</tr>
			</thead>
	
			<tbody>
	
			</tbody>
		</table>
	</div>
	{{end}}
</main>
{{template "admin/footer" .}}
{{end}}
