{{define "admin/articles"}}
{{template "admin/header" .}}
{{template "admin/navigation" .}}
<main>
	{{template "skel/flash" .}}

	<h2>Article management</h1>
	<hr>

	<p>
		<a href="/admin/article/new" class="btn btn-default btn-md">
			<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add an article
		</a>
	</p>

	<table>
		<thead>
			<tr>
				<th></th>
				<th>Published on</th>
				<th>Title</th>
				<th>User</th>
				<th>Last modified</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		{{range .articles}}
				<tr>
					<td>{{.Published | BoolToIcon}}</td>
					<td>{{.PublishedOn | FormatNilDate}}</td>
					<td>{{.Headline}}</td>
					<td>{{.Author.Username}}</td>
					<td>{{.LastModified | FormatDateTime}}</td>
					<td>
						{{if not .Published}}
							<a href="/admin/article/publish/{{.ID}}" title="Publish">
								Publish
							</a>
						{{else}}
							<a href="/article/{{.Slug}}" target="_blank" title="Show">
								Show
							</a>

							<a href="/admin/article/publish/{{.ID}}" title="Depublish">
								Depublish
							</a>
						{{end}}

						<a href="/admin/article/edit/{{.ID}}" title="Edit">
							Edit
						</a>

						<a href="/admin/article/delete/{{.ID}}" title="Remove">
							Delete
						</a>
					</td>
				</tr>
		{{end}}
		</tbody>
	</table>
	{{PaginationBar .pagination}}
</main>
{{template "front/footer"}}
{{end}}
