{{define "admin/articles"}}

{{template "admin/head" .}}
{{template "admin/navigation" .}}

<main>
	{{template "skel/flash" .}}

	<h2>Article management</h2>

	<p><a href="/admin/article/new">Add an article</a></p>

	<table>
		<thead>
			<tr>
				<th></th>
				<th>Published on</th>
				<th>Title</th>
				<th>User</th>
				<th>Last modified</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		{{range .articles}}
			<tr>
				<td>{{.Published | BoolToIcon}}</td>
				<td>{{.PublishedOn | FormatNilDate}}</td>
				<td>{{.Headline}}</td>
				<td>{{.Author.Username}}</td>
				<td>{{.LastModified | FormatDateTime}}</td>
				<td class="action-data">
					{{if not .Published}}
						<a href="/admin/article/publish/{{.ID}}" title="Publish">Publish</a>
					{{else}}
						<a href="/admin/article/publish/{{.ID}}" title="Unpublish">Unpublish</a>
					{{end}}

					<a href="/admin/article/edit/{{.ID}}" title="Edit">Edit</a>
					<a href="/admin/article/delete/{{.ID}}" title="Remove">Delete</a>
					
					{{if .Published}}	
						<a href="/article/{{.Slug}}" target="_blank" title="Show">Show</a>
					{{end}}
				</td>
			</tr>
		{{end}}
		</tbody>
	</table>
	{{PaginationBar .pagination}}
</main>
{{template "front/footer"}}
{{end}}
