{{define "admin/file_upload"}}
{{template "admin/header" .}}
{{template "admin/navigation" .}}
<main>
	{{template "skel/flash" .}}
	
	<h2>Upload a file</h2>

	<form enctype="multipart/form-data" action="/admin/file/upload" method="post">
		<div class="form-group">
			<label for="file">File</label>
			<input type="file" class="form-control" id="file" name="file" placeholder="Choose a file" required>
		</div>

		<div class="form-group">
			<label for="content">Optional change filename (do not include extension)</label>
			<input type="text" class="form-control" id="newfilename" name="newfilename" placeholder="New filename...">
		</div>

		{{ .csrfField }}
		
		<div class="button-group">
			<button name="action" value="upload" class="button">Upload</button>
		</div>
	</form>
</main>
{{template "admin/footer"}}
{{end}}
