{{define "admin/footer"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 footer">
	<p>Version: {{AppVersion}}</p>
</div>

<script type="text/javascript">

	var ajax_call = function() {
		var request = new XMLHttpRequest();
		request.open("GET", "/admin/json/session/keep-alive", true);
		request.send();
	};

	var interval={{KeepAliveInterval}}*1000;
	var curPath = window.location.pathname;

	if (curPath === "/admin/article/new" || curPath.includes("/admin/article/edit")
		|| curPath === "/admin/site/new" || curPath.includes("/admin/site/edit")) {

		setInterval(ajax_call, interval);
	}
</script>
</body>
</html>
{{end}}
