{{define "admin/forgot_password"}}

{{template "admin/header"}}
<body>
	<main>
		<form action="/admin/forgot-password" method="POST">
				<h2>Password reset</h2>

				{{template "skel/flash" .}}

				<label for="email">E-mail</label>
				<input type="email" required="required" name="email" id="email" value="{{.user.Email}}" placeholder="email...">

				{{ .csrfField }}

				<div class="button-group">
					<input type="submit" value="Send reset instruction">
				</div>
			</div>
		</form>
	</main>
</body>
</html>
{{end}}
