{{define "admin/forgot_password"}}

{{template "admin/header"}}
<body>
	<main>
		<form action="/admin/forgot-password" method="POST">
				<h2>Password reset</h2>

				{{template "skel/flash" .}}

				<div class="form-group">
					<label for="email" class="col-sm-2 control-label">E-mail</label>
					<div class="col-sm-10">
						<input type="email" required="required" class="form-control" name="email" id="email" value="{{.user.Email}}" placeholder="email...">
					</div>
				</div>

				{{ .csrfField }}

				<div class="button-group">
					<input type="submit" class="btn btn-primary pull-right" value="Send reset instruction">
				</div>
			</div>
		</form>
	</main>
</body>
</html>
{{end}}
