{{define "admin/head"}}
<!DOCTYPE html>

<html{{if Language}} lang="{{Language}}"{{end}}>
    <head>
		<meta charset="UTF-8">
		<meta name="csrfToken" content="{{.CSRFToken}}">
		<title>{{PageTitle}} | Administration</title>
		<link rel="stylesheet" href="/assets/css/master.css">
		<link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    </head>

<body>
	<div class="container-admin">
		<header>
			<h1 id="header-text">{{PageTitle}} | Administration</h1>

			<div id="header-actions">
				<ul>
					<li>
						<a{{if .active}}{{if eq .active "profile"}} class="active" {{end}}{{end}} href="/admin/user/profile">My profile</a>
					</li>

					<li>
						<a href="/admin/logout">Logout</a>
					</li>
				</ul>
			</div>
		</header>
{{end}}
