{{define "admin/navigation"}}
<nav>
	<ul>
		<li>
			<a{{if .active}}{{if eq .active "articles"}} class="active" {{end}}{{end}} href="/admin/articles">Articles</a>
		</li>
		
		<li>
			<a{{if .active}}{{if eq .active "categories"}} class="active" {{end}}{{end}} href="/admin/categories">Categories</a>
		</li>

	{{if .currentUser.IsAdmin}}
		<li>
			<a{{if .active}}{{if eq .active "users"}} class="active" {{end}}{{end}} href="/admin/users">Users</a>
		</li>

		<li>
			<a{{if .active}}{{if eq .active "sites"}} class="active" {{end}}{{end}} href="/admin/sites">Sites</a>
		</li>
	{{end}}

		<li>
			<a{{if .active}}{{if eq .active "files"}} class="active" {{end}}{{end}} href="/admin/files">Files</a>
		</li>

		<li>
			<a{{if .active}}{{if eq .active "profile"}} class="active" {{end}}{{end}} href="/admin/user/profile">My profile</a>
		</li>

		<li>
			<a href="/admin/logout">Logout</a>
		</li>
	</ul>
</nav>
{{end}}
