{{define "admin/reset_password"}}

{{template "admin/head"}}
	<main>
		<form action="/admin/reset-password/{{.hash}}" method="POST">
			<h2>Password reset</h2>

			{{template "admin/flash" .}}

			<label for="password">Password</label>
			<input type="password" required="required" autocomplete="off" name="password" id="password" placeholder="Password...">

			<label for="password_repeat">Re-enter password</label>
			<input type="password" required="required" autocomplete="off" name="password_repeat" id="password_repeat" placeholder="Re-enter password...">

			{{ .csrfField }}

			<div class="button-group">
				<input type="submit" value="Send reset instruction">
			</div>
		</form>
	</main>
</body>
</html>
{{end}}
