{{define "admin/site_edit"}}

{{template "admin/head" .}}
{{template "admin/navigation" .}}
<main>
	{{template "skel/flash" .}}
	<h2>Update site</h2>

	{{with .site}}
		<form id="autosave-form" action="/admin/site/edit/{{.ID}}" method="post">
			<label for="headline">Title</label>
			<input type="text" value="{{.Title}}" id="title" name="title" placeholder="Title..." required>

			<label for="headline">Link</label>
			<input type="text" value="{{.Link}}" id="link" name="link" placeholder="Link..." required>

			<label for="section">Section</label>
			<select name="section">
				<option value="navigation"{{if .Section}}{{if eq .Section "navigation"}} selected="selected"{{end}}{{end}}>Navigation</option>
				<option value="footer"{{if .Section}}{{if eq .Section "footer"}} selected="selected"{{end}}{{end}}>Footer</option>
			</select>

			<label for="content">Content</label>
			<textarea rows="25" id="content" name="content">{{.Content}}</textarea>

			{{ $.csrfField }}

			<div class="button-group">
				<button name="action" value="save">Save</button>
				<button name="action" formtarget="_blank" value="preview">Preview</button>
			</div>
		</form>
	{{end}}

	<a href='javascript:void(0);' id="toggleContainer" onclick="toggleContainer();">Upload a file ⇊</a>
		
	<div id="hiddenContainer" style="display:none">
	
		<div id="upload-error" style="margin-top: 10px; display:none" class="alert alert-danger" role="status"></div>
	
		<form enctype="multipart/form-data" method="post" id="direct-upload">
			<label for="file">Upload file</label>
			<input type="file" id="file" name="file" placeholder="Choose a file" required>
	
			{{ .csrfField }}
	
			<div class="button-group">
				<button name="action" value="upload">Upload</button>
			</div>
		</form>
	
		<table id="uploaded-files" class="table" style="display:none">
			<thead>
				<tr>
					<th>Filename</th>
					<th>Link</th>
					<th>ContentType</th>
					<th>Size</th>
				</tr>
			</thead>
	
			<tbody>
	
			</tbody>
		</table>
	</div>
</main>
{{template "admin/footer" .}}
{{end}}
