{{define "admin/site_add"}}

{{template "admin/head" .}}
{{template "admin/navigation" .}}

<main>
	{{template "skel/flash" .}}

	<h2>Add a new site</h2>

	<form id="autosave-form" action="/admin/site/new" method="post">
		<label for="title">Title</label>
		<input type="text" id="title" name="title" placeholder="Title..." {{if .site.Title}}value="{{.site.Title}}"{{end}} required>

		<label for="site">Link</label>
		<input type="text" id="link" name="link" placeholder="Link..." {{if .site.Link}}value="{{.site.Link}}"{{end}} required>

		<label for="section">Section</label>
		<select name="section">
				<option value="navigation"{{if .site.Section}}{{if eq .site.Section "navigation"}} selected="selected"{{end}}{{end}}>Navigation</option>
				<option value="footer"{{if .site.Section}}{{if eq .site.Section "footer"}} selected="selected"{{end}}{{end}}>Footer</option>
		</select>

		<label for="content">Content</label>
		<textarea rows="25" id="content" name="content" placeholder="Content...">{{.site.Content}}</textarea>

		{{ .csrfField }}

		<div class="button-group">
			<button name="action" value="save">Save</button>
			<button name="action" formtarget="_blank" value="preview">Preview</button>
		</div>
	</form>

	<a href='javascript:void(0);' id="toggleContainer" onclick="toggleContainer();">Upload a file ⇊</a>
		
	<div id="hiddenContainer" style="display:none">

		<div id="upload-error" style="margin-top: 10px; display:none" class="alert alert-danger" role="status"></div>
	
		<form enctype="multipart/form-data" method="post" id="direct-upload">
			<label for="file">Upload file</label>
			<input type="file" id="file" name="file" placeholder="Choose a file" required>
	
			{{ .csrfField }}
	
			<div class="button-group">
				<button name="action" value="upload">Upload</button>
			</div>
		</form>
	
		<table id="uploaded-files" class="table" style="display:none">
			<thead>
				<tr>
					<th>Filename</th>
					<th>Link</th>
					<th>ContentType</th>
					<th>Size</th>
				</tr>
			</thead>
	
			<tbody>
	
			</tbody>
		</table>
	</div>
</main>

{{template "admin/footer" .}}

{{end}}
