{{define "admin/site_add"}}
{{template "admin/header" .}}
{{template "admin/navigation" .}}

<main>
	{{template "skel/flash" .}}

	<h2>Add a new site</h2>

	<form action="/admin/site/new" method="post">
		<label for="title">Title</label>
		<input type="text" id="title" name="title" placeholder="Title..." {{if .site.Title}}value="{{.site.Title}}"{{end}} required>

		<label for="site">Link</label>
		<input type="text" id="link" name="link" placeholder="Link..." {{if .site.Link}}value="{{.site.Link}}"{{end}} required>

		<label for="content">Content</label>
		<textarea rows="25" id="content" name="content" placeholder="Content...">{{.site.Content}}</textarea>

		{{ .csrfField }}
		
		<div class="button-group">
			<button name="action" value="save">Save</button>
			<button name="action" formtarget="_blank" value="preview">Preview</button>
		</div>
	</form>
</main>

{{template "admin/footer"}}

{{end}}
