{{define "admin/sites"}}
{{template "admin/header" .}}
{{template "admin/navigation" .}}

<main>
	{{template "skel/flash" .}}

	<h2>Site management</h2>

	<p><a href="/admin/site/new">Add a site</a></p>

	<table>
		<thead>
			<tr>
				<th></th>
				<th>Published on</th>
				<th>Title</th>
				<th>Link</th>
				<th>Author</th>
				<th>Last modified</th>
				<th>Actions</th>
			</tr>
		</thead>

		{{range .sites}}
			<tbody>
				<tr>
					<td>{{.Published | BoolToIcon}}</td>
					<td>{{.PublishedOn | FormatNilDate}}</td>
					<td>{{.Title}}</td>
					<td>{{.Link}}</td>
					<td>{{.Author.Username}}</td>
					<td>{{.LastModified | FormatDateTime}}</td>
					<td class="action-data">
						<form method="post" action="/admin/site/order/{{.ID}}">
							<button type="submit" name="direction" value="up">
								Up
							</button>

							<button type="submit" name="direction" value="down">
								Down
							</button>

							{{$.csrfField}}
						</form>

						{{if not .Published}}
							<a href="/admin/site/publish/{{.ID}}" title="Publish">Publish</a>
						{{else}}
							<a href="/admin/site/publish/{{.ID}}" title="Depublish">Depublish</a>
						{{end}}

						<a href="/admin/site/edit/{{.ID}}" title="Edit">Edit</a>
						<a href="/admin/site/delete/{{.ID}}" title="Remove">Remove</a>

						{{if .Published}}
							<a href="{{.LinkEscape}}" title="Show">Show</a>
						{{end}}
					</td>
				</tr>
			</tbody>
		{{end}}
	</table>
	{{template "skel/pagination" .}}
</main>

{{template "admin/footer"}}
{{end}}
