{{define "admin/users"}}

{{template "admin/header" .}}
{{template "admin/navigation" .}}
<main>
	{{template "skel/flash" .}}
	
	<h2>User management</h2>

	<p><a href="/admin/user/new">Add a user</a></p>

	<table>
		<thead>
			<tr>
			<th>Last modified</th>
			<th>Username</th>
			<th>E-mail</th>
			<th>Display name</th>
			<th>Active</th>
			<th>Admin</th>
			<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{{range .users}}
				<tr>
					<td>{{.LastModified | FormatDateTime}}</td>
					<td>{{.Username}}</td>
					<td>{{.Email}}</td>
					<td>{{.DisplayName}}</td>
					<td>{{.Active | BoolToIcon}}</td>
					<td>{{.IsAdmin | BoolToIcon}}</td>
					<td class="action-data">
						<a href="/admin/user/edit/{{.ID}}" title="Edit">Edit</a>
						<a href="/admin/user/delete/{{.ID}}" title="Remove">Remove</a>
					</td>
				</tr>
			{{end}}
		</tbody>
	</table>

	{{template "skel/pagination" .}}
</main>

{{template "admin/footer"}}

{{end}}
