/*
 * Base structure
 */

* {
    margin: 0;
    padding: 0;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    font-family: 'DejaVu Serif', 'Open Sans', sans-serif;
}

.navbar-inverse {
  background-color: #285e8e;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
  text-decoration: underline;
  color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  text-decoration: underline;
  color: white;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li.active {
  color: black;
  background-color: white;
}

a:hover > .glyphicon {
	color: black;
}

td > a:hover,
td > a:active,
td > a:focus {
	text-decoration: none;
}

/*
 * Global add-ons
 */
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    margin-bottom: 20px;
    padding: 20px 40px 40px 40px;
}
.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard
 */
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.modal-body > .form-horizontal > .row {
    margin-right: 10px;
}

.ho-btn-left {
    float: left;
}

.ho-btn-right {
    float: right;
}

.footer {
  position: fixed;
  font-size: 10px;
  right: 0;
  bottom: 0;
  height: 50px;
  left: 0;
  padding: 0.5em;
  background-color: #f5f5f5;
  text-align: center;
}
