body {
  background-color: #dcdcdc;
}
.container .lw-login {
  margin-top: 40px;
  background-color: #ffffff;
  border: 1px solid black !important;
}
.container .col-md-6 {
  float: none;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
}
.container .login_wrapper {
  margin: 0;
  padding: 0;
}
.container .login_wrapper .login_header {
  background-color: #285e8e;
}
.container .login_wrapper .login_header h4 {
  padding: 5px 0;
  margin: 0;
  text-align: center;
  color: white;
}
.container .login_wrapper .login_body {
  margin-top: 20px;
  padding: 0 10px 10px 10px;
}
