@font-face {
	font-family: 'dosis';
	src: url("../fonts/Dosis-Regular.ttf") format('truetype');
}

html {
	font-size: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	height: 100vh;
	display: grid;
	grid-template-rows: 80px 1fr 30px;
	grid-template-columns: 20% 30% 35% 15%;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #285e8e;
	font-family: 'dosis', sans-serif;
	font-weight: 600;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
	margin-bottom: 0.9em;
	margin-top: 0.2em;
}

h3 {
	font-size: 1.5em;
	margin-bottom: 0.7em;
	margin-top: 0.7em;
}

a {
	text-decoration: underline;
}

<<<<<<< HEAD

=======
>>>>>>> develop
a:hover,
a:focus {
	text-decoration: none;
}

p {
	font-size: 1.1em;
	line-height: 1.5;
	margin-bottom: 1em;
}

body {
	background-color: #fffaf0;
}

main {
	width: 100%;
	grid-column-start: 2; 
	grid-column-end: 4; 
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 0 1em 1em 1em;
}

@media (min-width: 75em) {
    main {
		max-width: 75em;
    }
}

@media (min-width: 120em) {
    main {
		max-width: 156em;
    }
}

footer {
	grid-column-start: 1; 
	grid-column-end: 5; 
	grid-row-start: 3;
	grid-row-end: 4;
	background-color: #1f1f1f;
	color: #ffffff;
	font-size: 0.7em;
	font-weight: bold;
}

footer p {
	padding-top: 5px;
	padding-left: 5px;
	margin: auto;
}

/* Header */
header {	
	grid-column-start: 1; 
	grid-column-end: 5; 
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: #285e8e;
	padding: 10px 0 0 10px;
}

.header-text {
	color: #fffaf0;
	height: 0;
}

aside {
	grid-column-start: 4; 
	grid-column-end: 5; 
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: #1f1f1f;
}

/* Navigation */
nav {
	background-color: #1f1f1f;
	font-size: 1.5em;
	grid-column-start: 1; 
	grid-column-end: 2; 
	grid-row-start: 2;
	grid-row-end: 3;
}

@media (max-width: 37em) {
	main {
		top: 0;
	}

	nav {
		position: static;
		width: 100%;
		height: 100%;
	}
}

aside a,
nav a {
	color: #fff;
	display: inline-block;
	border-bottom-color: #285e8e;
	border-bottom-style: solid;
	border-bottom-width: 0.0625rem;
	padding: 1rem 0.5rem;
	width: 100%;
	text-decoration: none;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

nav a:active,
nav a:hover,
nav a:active,
nav a.active {
	color: #285e8e;
	background-color: #fffaf0;
	border-right-color: #285e8e;
	border-right-style: solid;
	border-right-width: 0.3125rem;
}

aside a:active,
aside a:hover,
aside a:active,
aside a.active {
	color: #285e8e;
	background-color: #fffaf0;
	border-left-color: #285e8e;
	border-left-style: solid;
	border-left-width: 0.3125rem;
}

nav li, 
aside li {
	list-style-type: none;
}

/* Pagination */
#pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pagination .pages {
	padding: 1em 0;
}

/* Main content */
main {
	grid-column-start: 2; 
	grid-column-end: 4; 
	grid-row-start: 2;
	grid-row-end: 3;
	max-width: 75em;
}

main a[href^='http'] {
    background: url('../svg/external-link.svg') no-repeat left center;
    background-size: 10px 10px;
    display: inline-block;
    padding-left: 15px;
}

code {
	display: block;
	white-space: pre;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	padding: 0.5em 1em;
	border: 1px solid grey;
	background-color: #faf8f0;
	margin-top: 1em;
	margin-bottom: 1em;
}

article {
	padding: 1.25rem 0;
}

main h1 {
  margin-top: 1em;
}

main h2 {
  margin-top: 0.8em;
}

main h3 {
	margin-top: 0.6em;
}

main h4 {
	margin-top: 0.4em;
}

<<<<<<< HEAD
=======
main ul {
	margin-left: 1.5em;
	line-height: 1.5;
}

main ul li {
  padding-left: 0.2em;
  line-height: 1.5;
}

main ul li p {
  margin-bottom: 0;
  line-height: 1.5;
}

>>>>>>> develop
main ol {
	margin-left: 2.2em;
	line-height: 1.5;
}

main p {
  margin-top: 0.8em;
  line-height: 1.5;
}

<<<<<<< HEAD
main ul {
	margin-left: 2.5em;
	line-height: 1.5;
}


main ul li {
  padding-left: 0.5em;
  line-height: 1.5;
}

article .article_link {
	margin: 0;
}

.article_info {
	font-size: 0.9em;
	margin: 0 0 1em 0;
	padding-bottom: 5px;
	border-bottom-color: #285e8e;
	border-bottom-style: solid;
	border-bottom-width: 0.14rem;
}

.alert {
	border-style: solid;
	border-color: #555;
	border-radius: 0;
	border-width: 0.125rem;
	margin: 10px;
	padding: 5px;
	font-weight:bold;
}

/* Index page */
#index .menu {
	list-style-type: none;
}

#index .submenu {
	list-style-type: none;
	padding: 0.4em 0.8em;
}

#index .submenu-item {
	margin-bottom: 0.625rem;
	list-style-type: none;
}

#index .year {
	font-weight: bold;
	color: #285e8e;
	display: inline-block;
	list-style-type: none;
}

.alert-info {
	background-color: #87CEEB;
}

.alert-warning {
	background-color: #FFCC00;
}

.alert-danger {
	background-color: #FF6666;
}

.alert-success {
	background-color: #90EE90;
}

table {
	display: table;
	border-collapse:collapse;
	width: 100%;
	font-size: 0.7em;
}

th {
	font-weight: bold;
	border-bottom: 2px solid black;
	text-align: left;
	padding: 10px 0;
}

tr {
	padding: 10px;
}

td {
	text-align: left;
	padding: 5px 0;
}

/**
 * Forms
 */
label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

input:not([type='submit']), textarea, select {
	background-color: #fffaf0;
	border: 1px solid grey;
	font-size: 1.1em;
	margin: 0 0 10px 0;
	padding: 0.5em;
	font-family: 'dosis', sans-serif;
	-webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
	-moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
	box-sizing: border-box;
	width: 100%;
}

input#headline {
	font-size: 1.8em;
	font-weight: 600;
	color: #285e8e;
}

button,
input[type='submit'] {
	cursor: pointer;
	background-color: #285e8e;
	color: #fffaf0;
	margin: 0.4em;
	padding: 0.625em 1em;
	margin-top: 1em;
	border: 1px solid grey;
}

button:hover, button:focus,
input[type='submit']:hover, input[type='submit']:focus {
	text-decoration: underline;
	border: 1px solid grey;
}

.button-group {
	margin-bottom: 5em;
}

.button-group button,
.button-group input {
	float: right;
}

.button {
	float: right;
	background-color: #285e8e;
	color: #fffaf0;
	margin: 0.4em;
	padding: 0.625em 1em;
	text-decoration: none;
	margin-top: 1em;
}

.button-no {
	background-color: #f00;
}

.button-yes {
	background-color: #01951d;
}

.button-inactive {
    background-color: #fffaf0;
    color: black;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.action-data button:not(:first-child),
.action-data a:not(:first-child) {
	padding: 0 5px;
	text-align: center;
	border-left: 1px solid black;
}

.action-data form {
	display: inline;
}

.action-data button {
	background: none;
	border: none;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
	font-size: 1em;
	font-family: serif;
	margin: 0;
	padding: 0 5px;
}

.action-data button:focus,
.action-data button:hover{
	outline: none;
	text-decoration: none;
}

input[type='checkbox'] {
	width: 13px;
	height: 13px;
	padding: 5px;
	margin: 5px;
	vertical-align: bottom;
	position: relative;
	top: -1px;
 	overflow: hidden;
}
