{{define "front/article"}}

{{template "front/head" .}}
	<link rel="alternate" type="application/rss+xml" href="/rss.xml">
</head>

<body>
	{{template "front/title"}}
	
	{{template "front/navigation" .}}
	
	<main>
	{{template "skel/flash" .}}
		<article>
		{{with .article}}
			<h2 class="article_link">{{.Headline}}</h2>
			<p class="article_info">written by {{.Author.DisplayName}} on {{.PublishedOn.Time | FormatDate}}</p>
	
			<p><b>{{.Teaser}}</b></p>
	
			{{.Content | ParseMarkdown}}
	
			<a href="/">&laquo; Go to articles</a>
		{{end}}
		</article>
	</main>
	{{template "front/footer"}}
{{end}}
