{{define "front/header"}}
<!DOCTYPE html>

<html{{if Language}} lang="{{Language}}"{{end}}>
    <head>
		<meta charset="UTF-8">
		<title>{{PageTitle}} {{if .actual}} | {{.actual}} {{end}}{{if $.site}}{{if $.site.Link}} | {{$.site.Link}}{{end}}{{end}}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="stylesheet" href="/assets/css/master.css">
		<link rel="icon" href="/assets/favicon.ico" type="image/vnd.microsoft.icon">
				
		{{if .articles}}
		<link rel="alternate" type="application/rss+xml" href="/rss.xml" />
		{{end}}
		
		{{GetMetadata .}}
    </head>

<body>
	<header>
		<h1 class="header-text">{{PageTitle}}</h1>
	</header>
{{end}}


