{{define "front/head"}}
<!DOCTYPE html>

<html{{if Language}} lang="{{Language}}"{{end}}>
    <head>
		<meta charset="UTF-8">
		<title>{{PageTitle}} {{if .actual}} | {{.actual}} {{end}}{{if $.site}}{{if $.site.Link}} | {{$.site.Link}}{{end}}{{end}}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="stylesheet" href="/assets/css/master.css">
		<link rel="icon" href="/assets/favicon.ico" type="image/vnd.microsoft.icon">

		{{GetMetadata .}}

		{{if .article}}
			<meta name="description" content="{{.article.Teaser}}">
			<meta name="author" content="{{.article.Author}}">
		{{end}}
    </head>

<body>
	<header>
		<h1 class="header-text">{{PageTitle}}</h1>
	</header>
{{end}}
