{{define "front/index"}}
{{template "front/header" .}}
<main>
	<div id="index">
		<h2>Index</h2>
		{{template "front/flash" .}}

		{{if not .ErrorMsg}}
			{{if not .indexed_articles}}
				<div style="margin-top: 10px" class="alert alert-info" role="info">No articles here yet.</div>
			{{end}}
		{{end}}

		{{range .indexed_articles}}
			<ul>
				<li class="year">
					<div class="year">
						<span>{{.Year}}</span>
					</div>
				</li>

				<ul class="submenu">
					{{range .Articles}}
					<li class="submenu-item">
						<a href="/article/{{.SlugEscape}}">{{.Headline}} | {{.PublishedOn.Time | FormatDate}} Author: {{.Author.DisplayName}}
					</li>
					{{end}}
				</ul>
			</ul>
		{{end}}
	</div>
</main>
{{template "front/footer"}}
{{end}}
